[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
dawdreamer = "*"
python-dotenv = "*"
pretty-midi = "*"
coloredlogs = "*"
pytest = "*"
librosa = "*"
numpy = "*"
pretty-errors = "*"
pydub = "*"
audiofile = "*"
mutagen = "*"

[dev-packages]

[requires]
python_version = "3.10"
